<mat-card [routerLink]="['/heroes', heroe.id ]">
    <mat-card-header>
        <mat-card-title>{{ heroe.superhero }}</mat-card-title>
        <mat-card-subtitle>{{ heroe.alter_ego }}</mat-card-subtitle>
    </mat-card-header>

    <img mat-card-image [src]="heroe | imagen" alt="{{ heroe.superhero }}">

    <mat-card-content>
        <h3>{{ heroe.publisher }}</h3>
        <p>
            <strong>Primera aparición:</strong><br>{{ heroe.first_appearance }}
            <!-- <br> -->
            <!-- <strong>Personajes: </strong> {{ heroe.characters }} -->
        </p>
    </mat-card-content>
    <mat-card-actions class="d-flex justify-content-between mb-1 ms-1 me-1">
        <button [routerLink]="['/heroes', heroe.id ]" class="btn btn-info">
            Leer más...
        </button>

        <button [routerLink]="['/heroes/edit', heroe.id ]" class="btn btn-success">
            Editar
        </button>
    </mat-card-actions>
</mat-card>